<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Bug Tracker</title>

    <script src="angular.min.js"></script>
    <script src="utils.js"></script>
    <script src="moment.js"></script>

    <script>

        var bugTracker = angular.module("bugTracker", ["utils"]);

        bugTracker.factory("Bug", function(){
            function Bug(defaults){
                defaults = defaults || {};
                this.id = defaults.id || 0;
                this.title = defaults.title || '';
                this.isClosed = defaults.isClosed || false;
                this.createdAt = defaults.createdAt || new Date();
            }
            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            }
            return Bug;
        });

        bugTracker.service("bugStorage", function BugStorage(Bug){
            var currentBugId = 0;
            var storage = window.localStorage;

            this.getAll = function getAllBugsFromStorage(){
                var result = [];
                for(var i=0; i<storage.length; i++){
                    var key = storage.key(i);
                    var data = storage.getItem(key);
                    var dataAsObject = angular.fromJson(data);
                    var bug = new Bug(dataAsObject);
                    if (currentBugId < bug.id) currentBugId = bug.id;
                    result.push(bug);
                }
                return result;
            }
            this.save = function saveBugToStorage(bug){
                if (!bug.id)
                    bug.id = ++currentBugId;
                storage.setItem(bug.id, angular.toJson(bug));
                return bug;
            }
            this.remove = function removeBugFromStorage(bug){
                storage.removeItem(bug.id);
            }
        });

        bugTracker.controller("bugsController", function($scope, bugStorage, Bug, $http){
            var promise = $http.get("http://localhost:8000/bugs");
            promise.then(function(response){
                $scope.bugs = response.data.map(function(bugData){ return new Bug(bugData);})
            });
            //$scope.bugs = bugStorage.getAll();

            $scope.addBug = function(newBugTitle){
                var newBug = {
                    title : newBugTitle,
                    isClosed : false,
                    createdAt : new Date()
                };
                var promise = $http.post("http://localhost:8000/bugs", newBug);
                promise.then(function(response){
                    var bug = new Bug(response.data);
                    $scope.bugs.push(bug);
                    $scope.newBug = '';
                });
            };
            $scope.toggleBug = function(bug){
                bug.toggle();
                //bugStorage.save(bug);
                $http.put("http://localhost:8000/bugs/" + bug.id, bug);
            };
            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i>=0; i--){
                    var bug = $scope.bugs[i];
                    if (bug.isClosed){
                        $http.delete("http://localhost:8000/bugs/" + bug.id).then(function(){
                            $scope.bugs.splice(i,1);
                        });
                    }
                }
            };



        });

        bugTracker.value("momentApi", moment);

        bugTracker.value("defaultLimitLength", 40);

        bugTracker.filter("toMoment", function(momentApi){
            return function(data){
                return momentApi(data).fromNow();
            }
        });
    </script>

</head>
<body ng-app="bugTracker">
    <h1>Bug Tracker</h1>
    <div class="content" ng-controller="bugsController">
        <input type="range" ng-model="textLengthLimit" min=0 max=100>
        <div class="stats">
            <span class="closed">{{ (bugs | filter:{isClosed : true}).length }}</span>
            <span class="delimit">/</span>
            <span>{{bugs.length}}</span>
        </div>
        <div class="search">
           <label for="">Search :</label>
            <input type="text" ng-model="searchBug.title">
            Is Closed ? <input type="checkbox" ng-model="searchBug.isClosed">
            <input type="button" value="Display All" ng-click="searchBug.isClosed = undefined">
        </div>
        <div class="sort">
           <label for="">Order By :</label>
            <input type="text" name="" id="" ng-model="sortBug.attrName">
            Descending ? <input type="checkbox" ng-model="sortBug.isDescending">
        </div>

        <div class="bugsList">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBug">
            <input type="button" value="Add Bug" ng-click="addBug(newBug)">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
                <li ng-repeat="bug in bugs | filter:searchBug | orderBy:sortBug.attrName:sortBug.isDescending"
                   ng-class="{closed : bug.isClosed}">
                    <div >
                        <div class="bugTitle" ng-click="toggleBug(bug)"> {{bug.title | limitText}} </div>
                        <div class="timeStamp">{{bug.createdAt | toMoment}}</div>
                    </div>

                    </li>
            </ol>
        </div>
    </div>
</body>
</html>
