<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
               ol{
             width: 60%
         }
         li{
             list-style: none;
             border : 2px solid gray;
             background: -webkit-linear-gradient(top, white 0%, lightgray 100%);
             padding : 5px;
             margin-bottom: 5px;
             border-radius: 10px;
         }
         li.closed{
             border-color : red;
             background: -webkit-linear-gradient(top, white 0%, lightpink 100%);

         }
         .bugTitle{
             font-size: 19pt;
         }
         .timeStamp {
             font-style: italic;
             font-size: small;
         }
         .stats{
             font-size: 18pt;
         }
         div {
             margin-bottom: 10px;
         }
         li.closed div.bugTitle{
             color : red;
             font-style: italic;
             text-decoration: line-through;
             font-weight: bold;
         }
        </style>
    <title>Bug Tracker</title>
    <!-- Use Cases
        1. Display a list of bugs - done
        2. Add a new bug - done
        3. Toggle the 'closed' status of the bug - done
        4. Remove closed bugs - done
        5. Display stats ( closed # / total # )  done
        6. Search the bugs - done
        7. Sort the bugs - done
        8. Limit the size of the bug text displayed - done
        9. Persist the bugs in the storage (localStorage) - done
        10. Display when the bugs were created
        11. Persist the bugs in the server

        12. Create and manage projects

        Info for use case - 9
        local storage
        =============
        api -> window.localStorage
            key/value store
            both key and value should be strings

            - setItem(key, value)
            - getItem(key) => value
            - removeItem(key)
            - key(index) => key
            - clear()
            - length

            angular.toJson(obj) => str
            angular.fromjson(str) => obj
    -->
    <script src="angular.min.js"></script>
    <script src="utils.js"></script>
    <script src="moment.js"></script>

    <script>


        var bugTracker = angular.module("bugTracker", ["utils"]);

        bugTracker.factory("Bug", function(){
            function Bug(defaults){
                defaults = defaults || {};
                this.id = defaults.id || 0;
                this.title = defaults.title || '';
                this.isClosed = defaults.isClosed || false;
                this.createdAt = defaults.createdAt || new Date();
            }
            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            }
            return Bug;
        });

        bugTracker.service("bugStorage", function BugStorage(Bug){
            var currentBugId = 0;
            var storage = window.localStorage;

            this.getAll = function getAllBugsFromStorage(){
                var result = [];
                for(var i=0; i<storage.length; i++){
                    var key = storage.key(i);
                    var data = storage.getItem(key);
                    var dataAsObject = angular.fromJson(data);
                    var bug = new Bug(dataAsObject);
                    if (currentBugId < bug.id) currentBugId = bug.id;
                    result.push(bug);
                }
                return result;
            }
            this.save = function saveBugToStorage(bug){
                if (!bug.id)
                    bug.id = ++currentBugId;
                storage.setItem(bug.id, angular.toJson(bug));
                return bug;
            }
            this.remove = function removeBugFromStorage(bug){
                storage.removeItem(bug.id);
            }
        });

        bugTracker.controller("bugsController", function($scope, bugStorage, Bug){
            $scope.bugs = bugStorage.getAll();

            $scope.addBug = function(newBugTitle){
                var newBug = bugStorage.save(new Bug({
                    title : newBugTitle,
                    isClosed : false
                }));

                $scope.bugs.push(newBug);
                $scope.newBug = '';
            };
            $scope.toggleBug = function(bug){
                bug.toggle();
                bugStorage.save(bug);
            };
            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i>=0; i--){
                    var bug = $scope.bugs[i];
                    if (bug.isClosed){
                        bugStorage.remove(bug);
                        $scope.bugs.splice(i,1);
                    }
                }
            };



        });

        bugTracker.value("momentApi", moment);

        bugTracker.value("defaultLimitLength", 40);

        bugTracker.filter("toMoment", function(momentApi){
            return function(data){
                return momentApi(data).fromNow();
            }
        });
    </script>

</head>
<body ng-app="bugTracker">
    <h1>Bug Tracker</h1>
    <div class="content" ng-controller="bugsController">
        <input type="range" ng-model="textLengthLimit" min=0 max=100>
        <div class="stats">
            <span class="closed">{{ (bugs | filter:{isClosed : true}).length }}</span>
            <span class="delimit">/</span>
            <span>{{bugs.length}}</span>
        </div>
        <div class="search">
           <label for="">Search :</label>
            <input type="text" ng-model="searchBug.title">
            Is Closed ? <input type="checkbox" ng-model="searchBug.isClosed">
            <input type="button" value="Display All" ng-click="searchBug.isClosed = undefined">
        </div>
        <div class="sort">
           <label for="">Order By :</label>
            <input type="text" name="" id="" ng-model="sortBug.attrName">
            Descending ? <input type="checkbox" ng-model="sortBug.isDescending">
        </div>

        <div class="bugsList">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBug">
            <input type="button" value="Add Bug" ng-click="addBug(newBug)">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
                <li ng-repeat="bug in bugs | filter:searchBug | orderBy:sortBug.attrName:sortBug.isDescending"
                   ng-class="{closed : bug.isClosed}">
                    <div >
                        <div class="bugTitle" ng-click="toggleBug(bug)"> {{bug.title | limitText}} </div>
                        <div class="timeStamp">{{bug.createdAt | toMoment}}</div>
                    </div>

                    </li>
            </ol>
        </div>
    </div>
</body>
</html>
